secret.sh
validator_prep
*.tar.gz
selected_validator_keys
.idea
custom_config.data.tar.gz
vars.env
mnemonics.yaml
scripts/venv
pithos-testnet/secret.sh
pithos-testnet/mergenet.yaml
pithos-testnet/custom_config_data/venv
backups
explorerdata
pithos-testnet/inventory/group_vars/explorer.yml