forkmon_memory: 3000m
forkmon_image_name: "ralexstokes/ethereum_consensus_monitor:latest"
forkmon_require_restart: true
forkmon_http_listen_port: 5002
forkmon_container_name: merge_devnet_1_forkmon

forkmon_host_dir: "{{home_dir}}/forkmon_data"

forkmon_volumes:
  - "{{forkmon_host_dir}}/config.toml:/config.toml"

forkmon_start_args: ""

forkmon_debug_level: info