MIX_ENV=prod
COIN=ETH
DISABLE_EXCHANGE_RATES=true
DISABLE_KNOWN_TOKENS=true
SHOW_PRICE_CHART=false
ENABLE_1559_SUPPORT=true
DISABLE_READ_API=true
DISABLE_WRITE_API=true
ENABLE_TXS_STATS=true
SHOW_TXS_CHART=true
DATABASE_URL=postgresql://postgres:{{ explorer_postgres_password }}@172.1.1.100:5432/explorer?ssl=false
SECRET_KEY_BASE=VTIB3uHDNbvrY0+60ZWgUoUBKDn9ppLR8MI4CpRz4/qLyEFs54ktJfaNT6Z221No
ETHEREUM_JSONRPC_VARIANT=geth
ETHEREUM_JSONRPC_HTTP_URL=http://{{ explorer_ip_address }}:8545
ETHEREUM_JSONRPC_WS_URL=ws://{{ explorer_ip_address }}:8546
NETWORK=Ethereum
SUBNETWORK=Testnet
BLOCK_TRANSFORMER=base
POOL_SIZE=15
CHAIN_SPEC_PATH=/custom_config_data/genesis.json
{% if explorer_first_block is defined %}
FIRST_BLOCK={{explorer_first_block}}
TRACE_FIRST_BLOCK={{explorer_first_block}}
{% endif %}