- name: Stop beacon node and validator node, wipe validator keys and beacon database
  hosts: all
  gather_facts: true
  become: true
  tasks:
    - name: Stop Eth2 beacon node container
      shell: "docker stop --time=10 {{beacon_container_name}}"
      register: stop_result
      failed_when: "(stop_result.rc >= 1) and not ('No such container' in stop_result.stderr)"
    - name: Stop Eth2 validator client container
      shell: "docker stop --time=10 {{validator_container_name}}"
      register: stop_result
      failed_when: "(stop_result.rc >= 1) and not ('No such container' in stop_result.stderr)"
    - name: Remove validator data
      become: true
      file:
        path: "{{validator_node_dir}}"
        state: absent
    - name: Remove beacon node data
      become: true
      file:
        path: "{{beacon_node_dir}}"
        state: absent
