global:
  evaluation_interval: 30s
  scrape_interval: 30s
  scrape_timeout: 10s

  external_labels:
    consensus_client: "{{ eth2_client_name }}"
    execution_client: "{{ eth1_client_name }}"
    instance: "{{ ansible_hostname }}"
    testnet: "{{ eth2_network_name }}"
    ip_address: "{{ ansible_host }}"


remote_write:
  - queue_config:
      batch_send_deadline: 5s
      max_backoff: 500ms
      max_samples_per_send: 500
      min_backoff: 50ms
      max_shards: 100
    url: {{ push_url }}
    remote_timeout: 10s
{% if remote_write_auth == true %}
    basic_auth:
      username: {{remote_write_username}}
      password: {{remote_write_password}}
{% endif %}

scrape_configs:
  - job_name: node
    static_configs:
    - labels:
        instance: "{{ ansible_hostname }}"
      targets:
      - localhost:9100
  - job_name: beacon
    static_configs:
    - labels:
        instance: "{{ ansible_hostname }}"
      targets:
      - localhost:{{ beacon_metrics_port }}


{% if eth1_client_name == "geth" or eth1_client_name == "erigon" %}

  - job_name: execution_node
    metrics_path: /debug/metrics/prometheus
    static_configs:
    - labels:
        instance: "{{ ansible_hostname }}"
      targets:
      - localhost:{{ eth1_metrics_port }}
{% elif eth1_client_name == "besu" or eth1_client_name == "nethermind"  %}
  - job_name: execution_node
    static_configs:
    - labels:
        instance: "{{ ansible_hostname }}"
      targets:
      - localhost:{{ eth1_metrics_port }}
      {% endif %}