version: v1
port: 2449
tls:
  enabled: false

proxy:
  host: 0.0.0.0
  port: 2450
  routes:
    - id: eth
      blockchain: ethereum

cluster:
  defaults:
    - chains:
        - ethereum
  upstreams:
    - id: eth
      chain: ethereum
      methods:
        enabled:
          - name: eth_getLogs
          - name: eth_chainId
            static: '0x14689e'
          - name: net_version
            static: "\"1337502\""
      connection:
        ethereum:
          rpc:
            url: "http://{{ansible_host}}:8545"
          ws:
            url: "ws://{{ansible_host}}:8546"

cache:
    redis:
        enabled: true
        host: {{ dshackle_redis_ip }}
        port: {{ dshackle_redis_port }}
        db: 0
        password: {{ dshackle_redis_password }}
