baseURL: https://{{eth2_network_name}}.wenmerge.dev
languageCode: en-us
title: {{ eth2_network_name }}
theme: PaperMod

markup:
  highlight:
    # anchorLineNos: true
    codeFences: true
    guessSyntax: true
    lineNos: false
    # noClasses: false
    style: monokai

params:
  disableThemeToggle: true
  defaultTheme: dark
  ethereum:
    faucetUrl: https://faucet.{{eth2_network_name}}.wenmerge.dev
    ethstatsUrl:
    rpcUrl: https://rpc.{{eth2_network_name}}.wenmerge.dev
    explorerUrl: https://explorer.{{eth2_network_name}}.wenmerge.dev
    beaconexplorerUrl: https://beaconchain.{{eth2_network_name}}.wenmerge.dev
    chainName: "{{eth2_network_name}}"
    chainId: "{{chainID}}"

menu:
  main:
    - identifier: ethereum-website
      name: ethereum.org
      url: https://ethereum.org
      weight: 30

disableKinds: ["taxonomy", "taxonomyTerm"]

copyright: "Long live the merge."
