hcaptcha.secret={{ hcaptcha_secret }}
hcaptcha.sitekey={{ hcaptcha_site_key }}

app.title=Condrieu Testnet FaucETH
app.imageURL=https://ligi.de/assets/img/fauceth_420.jpg
app.amount={{ ether_to_transfer }}
app.ethkey={{ faucet_private_key }}

app.logging=info
app.port=8000
app.keywords=ethereum,ethereum faucet,evm,eth

app.chains={{ chainID }}