<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testnet Faucet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/application.css">
    <link rel="apple-touch-icon" href="./favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicons/android-chrome-192x192.png">
    <link rel="mask-icon" color="#6151cc" href="./favicons/safari-pinned-tab.svg">
    <link rel="manifest" href="./favicons/manifest.webmanifest">
    <link href="./favicons/favicon.ico" rel="icon" type="image/x-icon">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<header class="header">
    <div class="container">
        <h3 style="font-size:20px;">{{ eth2_network_name }} testnet faucet</h3>
    </div>
</header>
<section class="content">
    <form action="/" method="POST" id="faucetForm">
        <div class="request-tokens">
            <img class="qodef-light-logo faucet-logo" src="assets/images/ethereum-merge.png" alt="light logo" style="margin-bottom:10px;">
            <h1>{{ eth2_network_name }} faucet</h1>
            <input type="text" id="receiver" name="receiver" style="border-color: #21221d;background-color: #f0ddc6; color: black;" placeholder="Enter address to receive funds here"/>
            <button type="submit" id="requestTokens" class="request-tokens-button">Request 100 merge testnet ETH</button>
        </div>
        <div class="text-xs-center">
            <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
        </div>
    </form>
</section>
<div class="loading-container hidden">
    <div class="loading">
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="rights">Forked from <b>Slock.it</b> by Pari - Send feedback to https://github.com/parithosh/testnet-faucet</p>
    </div>
</footer>
<script src="./assets/javascripts/application.js?v=1.4" type="text/javascript"></script>
<script>
    var url = new URL(window.location.href);
    const addr = url.searchParams.get("address");
    if(addr) {
        document.getElementById('receiver').value = addr;
    }
</script>
</body>
</html>
