---
- name: Wipe all!!
  hosts: all
  gather_facts: true
  become: true
  tasks:
    - name: Stop Eth2 beacon node container
      shell: "docker stop --time=10 {{beacon_container_name}}"
      register: stop_result
      failed_when: "(stop_result.rc >= 1) and not ('No such container' in stop_result.stderr)"
    - name: Remove beacon data
      become: true
      file:
        path: "{{beacon_node_dir}}"
        state: absent
    - name: Stop Eth2 validator client container
      shell: "docker stop --time=10 {{validator_container_name}}"
      register: stop_result
      failed_when: "(stop_result.rc >= 1) and not ('No such container' in stop_result.stderr)"
    - name: Remove validator data
      become: true
      file:
        path: "{{validator_node_dir}}"
        state: absent
    - name: Stop execution client container
      shell: "docker stop --time=10 {{eth1_client_name}}"
      register: stop_result
      failed_when: "(stop_result.rc >= 1) and not ('No such container' in stop_result.stderr)"
    - name: Remove execution data
      become: true
      file:
        path: "{{eth1_node_dir}}"
        state: absent
    - name: Remove testnet dir
      become: true
      when: (testnet_type == 'custom') or
            (testnet_type == 'prater' and eth2_client_name == 'prysm')
      file:
        path: "{{testnet_dir}}"
        state: absent
    - name: 'Ensure metric pusher is not present'
      cron:
        name: "metric-pusher"
        state: absent
        user: "{{ ansible_user }}"
    - name: 'Remove the metric pusher file'
      become: true
      file:
        path: /opt/metric-pusher.sh
        state: absent
    - name: Stop node_exporter service
      systemd:
        state: stopped
        name: node_exporter
      ignore_errors: yes
    - name: Disable node exporter
      systemd:
        name: node_exporter
        enabled: no
        masked: no
      ignore_errors: yes
    - name: Delete the systemD unit file
      file:
        path: /etc/systemd/system/node_exporter.service
        state: absent
    - name: Reload systemD
      systemd:
        daemon_reload: yes
    - name: Delete the bin
      file:
        path: /usr/local/bin/node_exporter
        state: absent
    - name: Delete user
      user:
        name: node_exporter
        state: absent
        group: node_exporter
        shell: "/sbin/nologin"
    - name: Delete the node exporter config
      file:
        path: /etc/default/node_exporter
        state: absent
